// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Device Tree for Bluestone (APM821xx) board.
 *
 * Copyright (c) 2010, Applied Micro Circuits Corporation
 * Author: Tirumala R Marri <tmarri@apm.com>
 */

/dts-v1/;

#include "apm82181.dtsi"

/ {
	model = "apm,bluestone";
	compatible = "apm,bluestone";

	aliases {
		serial0 = &UART0;
		serial1 = &UART1;
	};
};

&CRYPTO {
	status = "okay";
};

&HWRNG {
	status = "okay";
};

&NOR {
	status = "okay";

	compatible = "amd,s29gl512n", "cfi-flash";
	bank-width = <2>;
	reg = <0x00000000 0x00000000 0x00400000>;

	partition@0 {
		label = "kernel";
		reg = <0x00000000 0x00180000>;
	};
	partition@180000 {
		label = "env";
		reg = <0x00180000 0x00020000>;
	};
	partition@1a0000 {
		label = "u-boot";
		reg = <0x001a0000 0x00060000>;
	};
};

&NAND {
	status = "okay";

	/* 2Gb Nand Flash */
	nand {
		partition@0 {
			label = "firmware";
			reg   = <0x00000000 0x00C00000>;
		};
		partition@c00000 {
			label = "environment";
			reg   = <0x00C00000 0x00B00000>;
		};
		partition@1700000 {
			label = "kernel";
			reg   = <0x01700000 0x00E00000>;
		};
		partition@2500000 {
			label = "root";
			reg   = <0x02500000 0x08200000>;
		};
		partition@a700000 {
			label = "device-tree";
			reg   = <0x0A700000 0x00B00000>;
		};
		partition@b200000 {
			label = "config";
			reg   = <0x0B200000 0x00D00000>;
		};
		partition@bf00000 {
			label = "diag";
			reg   = <0x0BF00000 0x00C00000>;
		};
		partition@cb00000 {
			label = "vendor";
			reg   = <0x0CB00000 0x3500000>;
		};
	};
};

&UART0 {
	status = "okay";
};

&UART1 {
	status = "okay";
};

&IIC0 {
	status = "okay";
	rtc@68 {
		compatible = "st,m41t80";
		reg = <0x68>;
		interrupt-parent = <&UIC0>;
		interrupts = <0x9 0x8>;
	};
	sttm@4C {
		compatible = "adm,adm1032";
		reg = <0x4C>;
		interrupt-parent = <&UIC1>;
		interrupts = <0x1E 0x8>; /* CPU_THERNAL_L */
	};
};

&IIC1 {
	status = "okay";
};

&RGMII0 {
	status = "okay";
};

&TAH0 {
	status = "okay";
};

&MAL0 {
	status = "okay";
};

&EMAC0 {
	status = "okay";
	local-mac-address = [000000000000]; /* Filled in by U-Boot */
	phy-mode = "rgmii";
	phy-map = <0x00000000>;
};

&PCIE0 {
	status = "okay";
};

&MSI {
	status = "okay";
};
